PORT=3000

# 3x-UI
XUI_PANEL_URL=https://YOUR-PANEL-DOMAIN:PORT
XUI_USERNAME=YOUR_USERNAME
XUI_PASSWORD=YOUR_PASSWORD

# User email inside 3x-UI
SUB_EMAIL=amirali

# Subscription configuration
SUB_UUID=YOUR_UUID
SUB_HOST=YOUR_SERVER_HOST
SUB_PORT=443

# Everything after ? in your VLESS URL
SUB_PARAMS=security=reality&encryption=none&pbk=YOUR_PUBLIC_KEY&fp=chrome&type=tcp&flow=xtls-rprx-vision&sni=YOUR_SNI

SUB_NAME=AMIRALI-REALITY
